.ul.list-group {
    --bs-list-group-bg: #50ac13;
}

/* github */
i.fa-brands.fa-github.fa-1xl{

}

i.fa-brands.fa-github.fa-1xl:hover{
color:aqua
}
/* linkedin */
i.fa-brands.fa-linkedin.fa-1xl{

}

i.fa-brands.fa-linkedin.fa-1xl:hover{
color:#0a66c2
}

/* user */
i.fa-brands.fa-linkedin.fa-1xl{

}

i.fa-solid.fa-user.fa-1xl:hover{
color:aqua
}